@using FAQMS.Models;
@{
    ViewBag.Title = "CreateQuestion";
}
@section css{
    <link href="~/Content/dropzone.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
}
@section customcss{
    <link href="~/Content/ceratequestion.css" rel="stylesheet" />
    @*<link href="~/Content/multi-select.css" rel="stylesheet" />*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="~/Scripts/summernotebs3/summernote.css" rel="stylesheet" />
}
@section customjs{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="~/Scripts/dashboard_factories.js"></script>
    <script src="~/Scripts/dashboard.js"></script>
    <script src="~/Scripts/dropzone.min.js"></script>
    <script src="~/Scripts/summernotebs3/summernote.js"></script>
    <script>
        $editor = $('#answer').summernote({
            height: 300,
            tabsize: 1,
            onpaste: function (e) {
                var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                console.log(bufferText)
                e.preventDefault();
                document.execCommand('insertText', false, bufferText);
            }

        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                container: 'body'
            });
            $("select").select2();
            $("*[data-select2-id='7']").css("width", "430px");
        })
    </script>
}
<style>
    .note-btn {
        padding:0px 10px 0px;
    }
    .note-btn i{
        font-size:15px !important ;
        top:0px !important;
    }
</style>
<div class="container-fluid" ng-controller="questions">
    <div class="row clearfix">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>Create Question</h2>
                </div>
                <div class="body">
                    <div class="row">
                        <form method="post" name="form" ng-submit="createQ(form.$valid)" novalidate>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h2 class="card-inside-title">Question</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input style="margin:0px;" type="text" value="" class="form-control" ng-model="question" name="question" placeholder="Your question goes here" required />
                                    </div>

                                    <div ng-show="form.$submitted || form.question.$touched">

                                        <div class="alert bg-red" ng-show="form.question.$error.required">Please Write your Question.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h2 class="card-inside-title">Answer</h2>
                                <textarea id="answer" name="answer" ng-model="answer"></textarea>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <h2 class="card-inside-title">Department</h2>
                                <select class="form-control show-tick" name="d" ng-change="change_dept(d)" ng-model="d" required>
                                    <option ng-repeat="de in dept track by $index" value="{{de.Id}}">{{de.Department}}</option>
                                </select>
                                <div ng-show="form.$submitted || form.d.$touched">
                                    <div class="alert bg-red" ng-show="form.d.$error.required">Please Select Department.</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <h2 class="card-inside-title">Sub Module</h2>
                                <select class="form-control show-tick" name="mod" ng-model="mod" required>
                                    <option ng-repeat="mod in selected_mod track by $index" value="{{mod.Id}}">{{mod.Module}}</option>
                                    @*<option value="">Select Submodule</option>
                                        <option value="Delivery">Delivery</option>
                                        <option value="Operations">Operations</option>
                                        <option value="Audit">Audit</option>
                                        <option value="ER">ER</option>
                                        <option value="Finance">Finance</option>*@
                                </select>
                                <div ng-show="form.$submitted || form.mod.$touched">
                                    <div class="alert bg-red" ng-show="form.mod.$error.required">Please Select Module.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <h2 class="card-inside-title">Notes</h2>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input name="notes" ng-model="notes" style="margin:0px;" type="text" class="form-control" placeholder="Important Notes" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-controller="tagsmgmt as tm">
                                    <h2 class="card-inside-title">Tags</h2>
                                    <select id="tags" name="selected_tags" ng-model="selected_tags" multiple required>
                                        <option ng-repeat="tag in tags" value="{{tag.Id}}">{{tag.Tag}}</option>
                                        @*<option>Requirements</option>
                                            <option>Applicants</option>
                                            <option>Calendar</option>
                                            <option>Client</option>
                                            <option>Client Contact</option>
                                            <option>Resume Manager</option>*@
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <button type="submit" style="color:white;" class="btn btn-success waves-effect center">Submit</button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <button type="button" ng-click="previewQ()" style="color:white;" data-toggle="modal" data-target="#previewQuestion" class="btn btn-success waves-effect">Preview</button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <button type="reset" class="btn btn-default waves-effect">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_PreviewQuestionModal")
</div>