@{
    ViewBag.Title = "TagsMgmt";
}
@section customjs{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="~/Scripts/dashboard.js"></script>
}

<h2>TagsMgmt</h2>

