@{
    ViewBag.Title = "TagsMgmt";
}
@section customjs{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="~/Scripts/dashboard_factories.js"></script>
    <script src="~/Scripts/dashboard.js"></script>
    <script src="~/Scripts/mindmup-editabletable.js"></script>
    <script>
        $(document).on('mouseover', '[data-toggle="tooltip"]', function () {
            $(this).tooltip({
                container: 'body'
            })
        })
        $(document).on('click', '.editable', function () {
            $(this).attr("contenteditable", "true")
        })
    </script>

}
@section customcss{
    <link href="~/Content/dashboard.css" rel="stylesheet" />
}
<div class="container-fluid" ng-controller="tagsmgmt">
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Tags Available</h2>
                    <ul class="header-dropdown">
                        <li>
                            <input style="margin:0px;height:auto" id="tag_search" type="text" placeholder="Search Here for tags " />
                        </li>
                        <li>&nbsp;</li>
                        <li class="dropdown" data-toggle="tooltip" data-placement="bottom" data-original-title="Add New Tag">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#addTag">
                                <i class="material-icons">add</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table id="tagstable" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>Tag</th>
                                    <th>Save Edited</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tag in tags">
                                    <td data-toggle="tooltip" id="{{tag.Id}}" data-placement="left" data-original-title="Double click to Edit" class="editable" style="cursor:pointer">{{tag.Tag}}</td>
                                    <td width="10%"><a ng-click="save(tag.Id)" style="margin:20px;" href="javascript:void(0)"><i class="material-icons">check</i></a></td>
                                    <td width="10%"><a ng-click="delete(tag.Id)" style="margin:20px;" href="javascript:void(0)"><i class="material-icons">delete</i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_addTagsModal")
</div>

