@{
    ViewBag.Title = "Collabera FAQ Management System";
}
@section customjs{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="~/Scripts/public_factory.js"></script>
    <script src="~/Scripts/public_controller.js"></script>
    <script>
        $('body').on('click', '.menu-toggle', function () {
            $(this).next().toggle()
        })
    </script>
}
<div class="container-fluid">
    <div class="block-header">
        <h2></h2>
    </div>
    <div class="row clearfix">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>{{module}}</h2>
                </div>
                <div class="body">
                    <div class="row">
                        @*<div ng-repeat="q in question_answers" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button ng-click="findRelated(q.Id)" class="btn bg-cyan waves-effect m-b-10" type="button" data-toggle="collapse" data-target="#{{q.Id}}" aria-expanded="false"
                                        aria-controls="collapseExample">
                                    {{q.Question}}
                                </button>
                                <div class="collapse" id="{{q.Id}}">
                                    <div class="well">
                                        <p ng-bind-html="q.TrustedAns"></p>
                                    </div>
                                </div>
                            </div>*@
                        <div class="panel-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="accordion_1" role="tablist" aria-multiselectable="false">
                            <div class="panel panel-col-cyan" style="margin-bottom:20px;" ng-repeat="q in question_answers">
                                <div class="panel-heading " role="tab" id="h{{q.Id}}">
                                    <h4 class="panel-title">
                                        <a id="q{{q.Id}}" data-active="false" class="waves-effect waves-block" role="button" ng-click="findRelated(q.Id)" data-toggle="collapse" data-parent="#accordion_1" href="#{{q.Id}}" aria-expanded="true" aria-controls="c{{q.Id}}">
                                            {{q.Question}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{q.Id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h{{q.Id}}">
                                    <div class="panel-body">
                                        <p ng-bind-html="q.TrustedAns"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Related Question</h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div ng-repeat="q in related" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button id="b{{q.Id}}" style="width:100%" ng-click="relClick($index)" class="btn bg-cyan waves-effect m-b-10" type="button" data-toggle="collapse" data-target="#{{q.Id}}" aria-expanded="false"
                                    aria-controls="collapseExample">
                                {{q.Question}}
                            </button>
                            <div class="collapse" id="{{q.Id}}">
                                <div class="well">
                                    <p ng-bind-html="q.TrustedAns"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
