.btn {
    color:inherit;
}
.modal {
    background-color: transparent;
    max-height: inherit;
    width: inherit;
    margin: auto;
}

.modal .modal-footer {
        background-color: inherit;
}

.modal .btn-link {
        background-color: transparent;
}

.note-toolbar {
    z-index: 10;
    position: unset;
}

.bootstrap-select {
    box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12) !important;
}
